*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}
.header{
    height: 30%;
    width : 100%;
    color: blue;
    display: inline-flex;
    position: relative;
    background-color:grey;
}

.header h1{
    color: yellow;
    width: 100%;
    height: 59px;
    font-size: 32px;
    text-align: center;
    top: 30px;
    border-radius: 25px;
}

.container{
    width:100%;
    height: 90%;
    background-color: skyblue;
    color: black;
    display: flex;
    position: absolute;
}

.left{
    color: yellow;
    border-left: 20px solid skyblue;
    border-top: 20px solid skyblue;
    width: 15%;
    height: 100%;
    background-color: grey;
    display: block;
    padding-top: 30px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.username_container{
    padding: 20px 20px;
    border: 0.2rem solid yellow;
    
}
.showUser .actual_name{
    color: yellow;
    text-decoration: double;
    text-align: center;
}

.showUser .creator {
    color: coral;
    border: 1px;
    font-size: 10px;
    text-align: center;
}

.users_lst{
    padding-top: 30px;
}
.username_input_container input{
    width: 120px;
}

.user{
    color: coral;
    font-family: fantasy;
    font-size: 15px;
}
.user_containter{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.user_containter .two_btn{

    width: 90%;
    display: inline-block;
    right: 5%;
    justify-items: right;
}

.kick_btn{
    width: 50px;
    justify-items: right;
    border-radius: 1px;
    cursor:pointer;
    background-color: white;
    border: 2px yellow
} 
.ban_btn{
    width: 50px;
    justify-items: right;
    border-radius: 1px;
    cursor:pointer;
    background-color: white;
    border: 2px yellow
}


.middle{
    width: 78%;
    height: 95%;
    display:block;
}

.chat_box{
    width: 95%;
    display: block;
    margin-left: 1rem;
    margin-top: 1.5rem;
    height:80%;
    border: 0.2rem solid white;
    background-color: rgba(146, 224, 255, 0.634);
    padding: 20px;
	overflow-y: scroll;
}
.chat_box .curr_room{
    width: 100%;
    height:15%;
    background-color: rgba(255, 157, 0, 0.692);
    border-radius: 10px;
    text-align: middle;
    padding: 5px 5px;
}

.chat_box .curr_room .showRoomName{
    width: 100%;
    font-size: 30px;
    font-family:fantasy cursive;
    border-radius: 10px;
    color:rgb(54, 0, 154);
    padding-top: 10px;
    padding-left: 60px;
    text-align: middle;
    margin-bottom: 8px;
}
.chat_log .message {
	padding: 10px;
	margin-bottom: 10px;
	background-color: rgb(166, 178, 189);
	border-radius: 5px;
}

.chat_log .message .name_time {
	font-size: 10px;
	font-weight: bold;
	color: black;
	opacity: 0.7;
	margin-bottom: 7px;
}
.name_time .is_dm {
    color: red;
    font-size: 15px;
    padding-left: 200px;
}

.chat_log .message .name_time span {
	color: #777;
}
.message_input_container {
margin-left: 1rem;
margin-top: 1rem;
    width:95%;
    display:flex;
}
.message_input_container .left_form{
    margin-left: 1rem;
    display: inline;
}

.receivers_container{
    margin-bottom: 5px;

}
.receivers_container select{
    background-color:  rgba(0, 51, 255, 0.195);
    border:none;
    border-radius: 10px;
    margin-top: 5px;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.message_input_container input{
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    border-color: rgba(0, 51, 255, 0.195);
    width: 800px;
    border-radius: 10px;
    height: 50px;
}

.message_input_container button{
    background-color:  rgba(0, 51, 255, 0.195);
    border:none;
    border-radius: 10px;
    margin-top: 40px;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.right{
    color: rgb(54, 0, 154);
    position: relative;
    width: 22%;
    min-height: 100%;
    padding: 30px 0;

}

.join_container {
    border-radius: 10px;
    background-color: rgba(0, 51, 255, 0.195);
    margin-bottom: 20px;
    padding: 10px 10px;
    align-items: center;
    width: 90%;
    text-align: center;
    align-content: center;
    display: flex;
    height: 30%;
    margin-bottom: 20px;
}

.join_container .join_btn{
    align-items:end;
    width: 100px;
    margin-top: 25px;
    cursor: pointer;
}


.right .create_room_container{
    border-radius: 10px;
    padding: 20px 10px;
    max-height:300px;
    background-color: rgba(0, 51, 255, 0.195);
    padding-right: 10px;
    margin-bottom: 20px;
    width: 90%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.rooms h3{
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 20px;
}


.create_room_container .radio{
    padding-bottom: 10px;
}

.room_name_container{
    padding-bottom: 10px;
}
.room_name_container label{
    display:flex;
}

.pw_container{
    display:flex;
}

.pw_container input{
    width: 150px;
}

.create_btn{
    width: 150px;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    background-color: white;
    border: none;
    cursor: pointer;
}